html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}
.container {
  width: 50%;
  height: 70%;
  /* padding-top: 80px; */
  padding: 80px 100px;
}
.loginbutton {
  width: 100%;
  margin-top: 10px;
  background-color: rgb(3, 3, 78);
}
.loginbox {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 85vw;
  height: 80vh;
  border-radius: 20px;
  background-color: aliceblue;
  box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.3);
}
.lottieplayer {
  width: 50%;
  height: auto;
  overflow: hidden;
  border-radius: 20px 0px 0px 20px;
}
.mainpage {
  padding: 0;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(
    to right,
    rgb(3, 3, 78) 50%,
    rgb(88, 177, 228) 50%
  );
}
