@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Oswald:wght@500&family=Ubuntu:wght@300&display=swap");

.heading {
  font-family: "Ubuntu";
  font-weight: 800;
  font-size: 3.5rem;
  text-decoration: underline;
  letter-spacing: 2px;
  text-align: center;
}
.subheading {
  font-family: "Ubuntu";
  font-weight: 400;
  font-size: 1rem;
  opacity: 0.8;
  text-transform: capitalize;
  text-align: center;
}
.about-me-inside {
  width: 70%;
  margin-inline: auto;
  padding-top: 100px;
}
.text-area {
  padding-top: 40px;
  padding-right: 10px;
  font-family: "Ubuntu";
  font-weight: 600;
  font-size: 1.2rem;
  opacity: 0.8;
  text-align: justify;
}
.few-highlights {
  padding-top: 40px;
  font-family: "Ubuntu";
  padding-block: 12px;
}
.few-text {
  font-family: "Ubuntu";
  font-weight: 600;
  font-size: 1.5rem;
}
